* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color:hsl(30, 54%, 90%) ;
}

.img {
 border-radius: 10px;  
 width: 100%; 
}

h2 {
    color: brown;
}

.receta {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    margin: 20px auto;
    padding: 25px;
    gap: 20px;
    border-radius: 20px;
}

.receta>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

h1 {
    font-size: 30px;
}

.preparation {
    background-color: pink;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}

.preparation>h3 {
    margin-bottom: 10px;
    color: rgb(152, 20, 64);
}

li {
    margin: 5px 0 0 20px;
}

.ingredients {
    gap: 15px;
}

.ingredients-li {
    padding: 3px;
}

.Instructions {
    gap: 15px;
}

.Instructions>ol {
margin-left: 15px;
}

.Instructions>ol>li {
    padding: 3px;
}

.nutrition {
    gap: 15px;
}

.nutrition>p {
    margin-top: 15px;
}

table {
    border-collapse: collapse;
}

tr:not(:last-child) {
    border-bottom: 1px solid;
    border-color: lightgray;
}

td {
    padding: 10px 10px;
}

.numeros {
    color: brown;
}
